<header class="header">
    <a href="/" class="header-logo">Node Js</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>
            </li>
            <li>
                <a href="/about" class="">About</a>
            </li>
            <li>
                <a href="/contact" class="">Contact</a>
            </li>

        </ul>
    </nav>
    <div class="header__btn">
        <button class="searchBtn" aria-expanded="false">
            search
            
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/search--v1.png" alt="search--v1"/>
            
        </button>
    </div>
</header>